*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    margin: 5%;
    padding-top: 5px;
    background-color: blanchedalmond;
    border: 3px solid #042331;
}

.box{
    text-align: justify;
}

header{
    color: slateblue;
    font-size: 50px;
    padding-left: 2%;
    padding-right: 2%;
}
h1{
    font-size: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
}

p{
    font-size: 20px;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    text-align: center;
    color:slateblue;
  }

