body {
	font-family: 'Rye', cursive;
	background-color: LightPink;
}

h1 { 
	margin-top: 100px;
	margin-bottom: 50px;
	font-size: 3em;
	text-align: center;
}

table {
  margin-right: center;
  margin-left: center;
  margin: 0 auto;
}

td {
  background-color: BurlyWood;
  height: 75px;
  width: 75px;
}

.container{
    text-align: center;
}

.inflate-an-image{
    display: inline-block;
    width: 400px;
    height: 400px;
    margin: 5px;
}

.dress-a-parent {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  top: 0;
  left: 0;
}

.dress-an-image {
  position: absolute;
  top: 0px;
  left: 0px;
}

.head {
  z-index: 2
}

.body {
  z-index: 0
}

.shoes {
  z-index: 1
}
