body {
    background-color: khaki;
    text-align: center;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    
}
h1 {
    font-size: 20px;
    text-align: left;
    font-family: 'Russo One', sans-serif;
}
h2 {
    font-size: 65px;
    font-family: 'Russo One', sans-serif;
}
p {
    text-align: left;
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
}

a {
    display: flex;
}